.page {
	padding-top: 10vh;
	height: 80vh;
}

.container {
	background-color: white;
	text-align: center;
	padding: 10px;
	margin: auto;
	max-width: 400px;
	border: 1px solid grey;
	-moz-box-shadow: 10px 10px 5px 0px #656565;
	-webkit-box-shadow: 10px 10px 5px 0px #656565;
	-o-box-shadow: 10px 10px 5px 0px #656565;
	box-shadow: 10px 10px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}