.page {
	margin-top: 20px;
}
.container {}
.center {
	text-align: center;
}
.description {
	padding: 20px;
	text-align: justify;
}
.imgTitles
{
	width: 80px;
	display: inline-block !important;
	margin-right: 10px;
}
